<div class="container">
<form>
  <div class="form-group">
    <label for="nameThePlace">Name of the Place</label>
    <input type="text" class="form-control" id="nameThePlace" placeholder="The name of the place">
  </div>
  <div class="form-group">
    <h3>Location:</h3>
    <label for="latitude">Latitude:</label>
    <input type="number" class="form-control" id="latitude" placeholder="Latitude">
    <label for="longitude">Longitude:</label>
    <input type="number" class="form-control" id="longitude" placeholder="Longitude">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>